form {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
  
  input[type="text"] {
    padding: 0.5rem;
    font-size: 1rem;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
  }
  
  button {
    border-radius: 0 4px 4px 0;
  }
  